# Personal emails to corporate
François Lamboley <francois.lamboley@frostland.fr> <fload@me.com>

# GitHub anonymized emails
<francois.lamboley@frostland.fr> <Frizlab@users.noreply.github.com>

# This rewrites the form D normalization of the ç to a form C.
# Typing a ç (alt-C) on a qwerty keyboard will produce the form C of the
# character. My git config is thus setup with this form.
# Xcode re-normalize the author string using norm D. (But leaves the committer
# part alone, for whatever reason…)
# Tested on Xcode 12.3 (12C33) and macOS 11.1 – FB8948535
François Lamboley <francois.lamboley@frostland.fr> François Lamboley <francois.lamboley@frostland.fr>

# Runner oopsie
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1601226711523.local>
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1604226254473.local>
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1604830927092.local>
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1604831170478.local>
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1605267536751.local>
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1606663412032.local>
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1608470272749.local>
GitHub Runner (GPS Stone) <github@frostland.fr> <runner@Mac-1608579501243.local>
